---
layout: landing
title: Home
---

<div class="ui feature vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui three column center aligned stackable divided grid">
        <div class="column">

          <div class="ui icon header">
            <i class="teal microchip icon"></i>
            Useful Proof-of-Work
          </div>
          <p>Instead of just hashing, Gapcoin’s Proof of Work function actually does useful work by searching for large <a href="https://en.wikipedia.org/wiki/Prime_gap" target="_blank">prime gaps</a>¹.</p>

        </div>
        <div class="column">

          <div class="ui icon header">
            <i class="teal thumbs up icon"></i>
            Fair launch &amp; distribution
          </div>
          <p>Launched <a href="https://bitcointalk.org/index.php?topic=822498.0" target="_blanK">without premine</a> &amp; designed not to enrich early adopters, coin supply increases logarithmically with difficulty.</p>

        </div>
        <div class="column">

          <div class="ui icon header">
            <i class="teal code icon"></i>
            Modern codebase
          </div>
          <p>The current Gapcoin codebase is based on <a href="https://en.bitcoin.it/wiki/Segwit" target="_blank">segwit</a>- and <a href="https://en.bitcoin.it/wiki/Timelock" target="_blank">CLTV</a>-capable Bitcoin 0.16.3 augmented with <a href="https://arxiv.org/pdf/1701.04439.pdf" target="_blank">DANDELION</a>.</p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical segment black-shine-gradient">
  <div class="ui stackable page grid">

    <div class="row">
      <div class="sixteen wide column">
        <div class="ui six column doubling stackable grid container">
          <div class="column">
            <div class="ui icon header"><a class="item" href="/posts/" title="News and posts about Gapcoin and prime gaps"><i class="teal comments icon"></i>Posts </a></div>
          </div>
          <div class="column">
            <div class="ui icon header"><a class="item" href="/primegaps/" title="Information and statistics on Gapcoin-discovered prime gaps"><i class="teal chart line icon"></i>Prime gaps</a></div>
          </div>
          <div class="column">
            <div class="ui icon header"><a class="item" href="/chain/" title="Statistics describing the status of the Gapcoin blockchain and network"><i class="teal linkify icon"></i>Blockchain</a></div>
          </div>
          <div class="column">
            <div class="ui icon header"><a class="item" href="/mining/" title="Information and how-tos for mining Gapcoin"><i class="teal microchip icon"></i>Mining</a></div>
          </div>
          <div class="column">
            <div class="ui icon header"><a class="item" href="/downloads/" title="Links to Gapcoin wallet binaries and resources available to download"><i class="teal dolly icon"></i>Downloads</a></div>
          </div>
          <div class="column">
            <div class="ui icon header"><a class="item" href="/exchanges-and-markets/" title="Information on, and links to, exchanges and markets"><i class="teal money outline alternate icon"></i>Exchanges</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Resources:</h3> 

        <h4  class="slim-header-light spaced">
          <a href="/about/"><i class="blue info circle icon"></i> About Gapcoin <i>(Oct. 2014 announcement)</i></a>
        </h4>
        <h4  class="slim-header-light spaced">
          <a href="/faq/"><i class="blue question circle icon"></i> FAQ</a>
        </h4>
        <h4 class="slim-header-light spaced">
          <a href="/maths/2021/02/01/whats-a-prime-gap/"><i class="blue star outline icon"></i> Prime gaps and the Gapcoin rationale</a>
        </h4>
        <h4  class="slim-header-light spaced">
          <a href="/maths/2021/03/23/gapcoin-maths/"><i class="blue star outline icon"></i> Gapcoin maths</a>
        </h4>
        <h4  class="slim-header-light spaced">
          <a href="/j0nn9-technotes/"><i class="blue book icon"></i> Developer j0nn9’s bitcointalk technical posts</a>
        </h4>

        <blockquote>
        <div  style="font-size: 80%">
          <p>¹ A prime gap is the difference between successive prime numbers; it constitutes a first occurrence when no preceding gap has an equal value. A first occurrence prime gap is maximal if the gap strictly exceeds all preceding gaps.</p>
          <p> The merit <math>M</math> of a prime gap of measure <math>g</math> following the prime <math>p<sub>1</sub></math> is defined as <math>M=g/ln(p<sub>1</sub>)</math>. It is the ratio of the measure of the gap to the “average” measure of gaps near that point; as a consequence of the Prime Number Theorem, the average difference between consecutive primes near <math>x</math> is approximately <math>ln(x)</math>.</p>
          <p><i style="font-size: 80%">(While most puns make me feel oddly numb, mathematical puns make me feel even number)</i> <a href="https://www.mersenneforum.org/showpost.php?p=521693&postcount=753">*</a></p>
        </div>
        </blockquote>
      </div>
      <div class="eight wide column">
        <h2 class="ui teal header">Featured posts:</h2> 
        {% include feature-post.html %}        
      </div>

    </div>
  </div>
</div>


<div class="ui vertical segment">
  <div class="ui centered page stackable divided grid">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui header">
          Browse Gapcoin project content
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">

        <h3 class="ui header">Tags</h3>
          {% include site-tags.html %}

      </div>

      <div class="eight wide column">

        <h3 class="ui header">Categories</h3>
          {% include site-categories.html %}

      </div>

    </div> <!-- /row -->
  </div>
</div>

