---
layout: landing
title: Mining
description: Resources related to mining Gapcoin 
---

<div class="ui vertical segment">
  <div class="ui very relaxed stackable page grid">

    <div class="row">
      <div class="column">
        <div class="ui animated selection list">
        <!-- Use to have here as well as in the gapgraph section -->
        <a class="item" href="/gapgraphs/shiftfrequency/">
          <div class="ui header" style="padding: 0.6em"><i class="blue certificate icon"></i>Shift settings, length of primes searched and blocks mined</div>
        </a>

        {% for item in site.mining %}
          <a class="item" href="{{ item.url }}">
            <div class="ui header" style="padding: 0.6em"><i class="blue certificate icon"></i>{{ item.title }}</div>
          </a>
        {% endfor %}

        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h4 class="ui horizontal divider teal header"><i class="cogs icon"></i></h4>
        <h3 class="ui teal header">Mining without the Chinese Remainder Theorem</h3>

        <h4>Pool mining with getwork</h4>
        <pre style="font-size:75%">gapminer -o http://your-pool.club -p 4200 -u user.worker -x password -t 4</pre>

        <h4>Pool mining with stratum (recommended)</h4>
        <pre style="font-size:75%">gapminer -o your-pool.club -p 3385 -u user.worker -x password -t 4 --stratum</pre>

        <h4>Solo mining</h4>
        <pre style="font-size:75%">gapminer -o 127.0.0.1 -p 31397 -u &lt;rpc user> -x &lt;rpc password> -t 4</pre>
        <h4 class="ui horizontal divider teal header"><i class="cogs icon"></i></h4>
      </div>
    </div>


    <div class="row">

      <div class="eight wide column">
        {% include recent-posts.html %}
      </div>

      <div class="eight wide column">
          
          {% include feature-post.html %}        

        <div class="ui inverted divider"></div>

        <h3 class="ui inverted header">Tags</h3>
          {% include site-tags.html %}
          
        <div class="ui inverted divider"></div>
        
        <h3 class="ui inverted header">Categories</h3>
          {% include site-categories.html %}
          
      </div>
    </div>
  </div>
</div>
