---
layout: landing
title: Mining
description: Resources related to mining Gapcoin 
---

<div class="ui vertical segment">
  <div class="ui very relaxed stackable page grid">

    <div class="row">
      <div class="column">
        <div class="ui accordion">
          <div class="title">
              <i class="dropdown icon"></i><item class="ui teal header">The algorithm</item></div>
          <div class="content">
            <h5 class="ui teal header">From the Gapcoin-PoWCore <a href="https://github.com/gapcoin-project/Gapcoin-PoWCore#the-algorithm" target="_blank">README</a></h3>
            <div class="ui raised padded container segment" style="font-size:85%">
                <p>The average length of a prime gap with the starting prime <math>p</math>, is <math>log(p)</math>, which means that the average prime gap size increases with larger primes. Instead of the pure length, Gapcoin uses the <em>merit</em> of a prime gap, which is the ratio of the gap’s size to the average gap size. Let <math>p</math> be the prime starting a prime gap, then <math>m = gapsize/log(p)</math> will be the <em>merit</em> of this prime gap.</p>

            </div>
            <div class="ui raised padded container segment" style="font-size:85%">
                <p>Also a pseudo random number is calculated from <math>p</math> to provide finer difficulty adjustment. Let <math>rand(p)</math> be a pseudo-random function with <math>0 &#x3c; rand(p) &#x3c; 1</math>. Then, for a prime gap starting at prime <math>p</math> with size <math>s</math>, the difficulty will be <math>s/log(p) + 2/log(p) &lowast; rand(p)</math>, where <math>2/log(p)</math> is the average distance between a gap of size <math>s</math> and <math>s + 2</math> (the next greater gap) in the proximity of <math>p</math>.</p>

            </div>
            <div class="ui raised padded container segment" style="font-size:85%">
                <p>When it actually comes to mining, there are two additional fields added to the block header, named “shift” and “adder”. We will calculate the prime <math>p</math> as <code>sha256(block header) &lowast; 2^shift + adder</code>. As an additional criterion, the adder must be smaller than <code>2^shift</code> to avoid the PoW being reused.</p>
            </div>
          </div>
        </div>
        <p><em>See <a href="/mining/gapminer-tech-basics/" target="_blank">“Gapminer parameter list and description of approach”</a> for further details of the mining approach.</em></p>
        <h4 class="ui horizontal divider teal header"><i class="teal cogs icon"></i></h4>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h3 class="ui teal header">Basic Gapcoin mining with default miner parameter settings</h3>

        <h4>Pool mining with getwork</h4>
        <pre style="font-size:75%">gapminer -o http://your-pool.club -p 4200 -u user.worker -x password -t [number_of_threads]</pre>

        <h4>Pool mining with stratum (recommended)</h4>
        <pre style="font-size:75%">gapminer -o your-pool.club -p 3385 -u user.worker -x password --stratum -t [number_of_threads]</pre>

        <h4>Solo mining</h4>
        <pre style="font-size:75%">gapminer -o 127.0.0.1 -p 31397 -u &lt;rpcuser> -x &lt;rpcpassword> -t [number_of_threads]</pre>
        <h4 class="ui horizontal divider teal header"><i class="teal cogs icon"></i></h4>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui raised very padded container segment">
          <div style="font-style:italic; font-size:90%">
            <h3 class="ui teal header">GapMiner documentation</h3>
            <div class="ui animated selection list">
              <div class="ui item"><a class="item" href="/mining/introduction/"><div class="ui small header" style="padding: 0.6em"><i class="tiny blue file alternate outline icon"></i>Introduction</div></a>
                <p style="margin-left:4em">Concise introduction to Gapminer and explanation of the <code>--shift</code>, <code>--sieve-primes</code> and <code>--sieve-size</code> settings common to both GapMiner and the in-wallet miner</p></div>
              <div class="ui item"><a class="item" href="/mining/gapminer-tech-basics/"><div class="ui small header" style="padding: 0.6em"><i class="tiny blue cogs icon"></i>Gapminer technical basics</div></a>
                <p style="margin-left:4em">Reference document listing all the Gapminer parameters and giving a basic high-level description of the mathematical strategy adopted by the miner to finding prime gaps</p></div>
              <div class="ui item"><a class="item" href="/mining/chinese-remainder-mining/"><div class="ui small header" style="padding: 0.6em"><i class="tiny blue plane icon"></i>Mining at higher shifts with Chinese Remainder Theoren</div></a>
                <p style="margin-left:4em">Basic HOW-TO for mining using the Chinese Remainder Theorem. Full description and examples of the settings for using GapMiner with CRT.</p></div>
              <div class="ui item"><a class="item" href="/mining/creating-crt-files/"><div class="ui small header" style="padding: 0.6em"><i class="tiny blue file flask icon"></i>Creating crt files</div></a>
                <p style="margin-left:4em">Advanced HOW-TO with explanation and examples for creating custom “crt” files for optimising CRT mining.</p></div>
              <div class="ui item"><a class="item" href="/mining/mining-on-a-gpu/"><div class="ui small header" style="padding: 0.6em"><i class="tiny blue rocket icon"></i>Running Gapminer on a GPU</div></a>
                <p style="margin-left:4em">Help document of distilled developer posts on running GapMiner on a GPU - parameter settings and basic advice on performance.</p></div>
              <div class="ui item"><a class="item" href="/mining/mining-pools/"><div class="ui small header" style="padding: 0.6em"><i class="tiny blue globe icon"></i>Mining pools</div></a>
                <p style="margin-left:4em">Help document listing the current GapMiner mining pools, signup instructions and parameter settings.</p></div>
              <div class="ui item"><a class="item" href="/mining/shifts-and-primedigits/"><div class="ui small header" style="padding: 0.6em"><i class="tiny blue graduation cap icon"></i>Shift and prime digits</div></a>
                <p style="margin-left:4em">Technical document explaining the bits and bytes relationship between shift and the number of digits in the primes to be searched</p></div>
              <div class="ui item"><a class="item" href="/mining/shift-to-primedigits-mapping/"><div class="ui small header" style="padding: 0.6em"><i class="tiny blue map signs icon"></i>Mapping of shift to prime digit length</div></a>
                <p style="margin-left:4em">Reference document with an exhaustive list of shifts and the corresponding number of digits in the primes to be searched</p></div>
              <div class="ui item"><a class="item" href="/gapgraphs/shiftfrequency/"><div class="ui small header" style="padding: 0.6em"><i class="tiny blue cubes icon"></i>Shift settings, length of primes searched and blocks mined</div></a>
                <p style="margin-left:4em">Reference document, table showing frequency of shift use and blocks mined with histograms.</p></div>
              <div class="ui item"><a class="item" href="/paramtests/"><div class="ui small header" style="padding: 0.6em"><i class="tiny blue images icon"></i>Charts of performance on systematically varied settings.</div></a>
                <p style="margin-left:4em">Reference document, plots of relative performance results across a number of mining parameter test settings</p></div>
            </div>
          </div>
        </div>
        <h4 class="ui horizontal divider teal header"><i class="teal cogs icon"></i></h4>
        <p></p>
      </div>
    </div>

  </div>

  <div class="ui inverted vertical segment dark-wood">
    <div class="ui very relaxed stackable page grid">

    <div class="row">

      <div class="eight wide column">
        {% include recent-posts.html %}
      </div>

      <div class="eight wide column">
          
          {% include feature-post.html %}        

        <div class="ui inverted divider"></div>

        <h3 class="ui inverted header">Tags</h3>
          {% include site-tags.html %}
          
        <div class="ui inverted divider"></div>
        
        <h3 class="ui inverted header">Categories</h3>
          {% include site-categories.html %}
          
      </div>
    </div>
  </div>
</div>
