---
layout: landing
title: Prime gaps
description: Gap size and merits
category: graphs
tags: primegap
---

<div class="ui vertical segment">
  <div class="ui very relaxed stackable page grid">

    <div class="row">
      <div class="sixteen wide column">

        <div class="ui teal header" style="padding: 0.6em"><i class="teal certificate icon"></i>Gapcoin entries in the Prime Gap List</div>

        <p>Gapcoin-discovered gaps accepted by the Prime Gap List, a table of all first occurrence and maximal prime gaps <a href="https://faculty.lynchburg.edu/~nicely/gaps/gaplist.html">previously maintained</a> by the late Dr. Tom Nicely, now <a href="https://github.com/primegap-list-project/prime-gap-list/commits/server/">curated and maintained</a> by the <a href="https://www.mersenneforum.org/forumdisplay.php?f=131" target="_blank">Mersenne forum’s Prime Gap Search Group</a></p>

        <div class="ui raised padded container segment">
          <h3 class="ui small header">Most recent submission:</h3>

          {% for primegapentry in site.primegaplist limit:1 %}
          <p>{{ primegapentry.date }}: <a href="{{ primegapentry.url }}">{{ primegapentry.title }}</a></p>
          {% endfor %}

          <h4 class="ui small header">Historical list of <a href="/primegaplist/" target="_blank">previous submissions</a> to the Prime Gap List</h4>

        </div>


      </div>
    </div>





    <div class="row">
      <div class="sixteen wide column">

          <div class="ui header" style="padding: 0.6em"><i class="teal certificate icon"></i>Charts and tables</div>
            <p>Charts and tables presenting statistical information about the first known occurrence prime gaps discovered by the Gapcoin network.</p>

          <div class="ui inverted divider"></div>

      </div>
    </div>

    <div class="row">

      <div class="eight wide column">
        <div class="ui animated selection list">
          {% for page in site.gapgraphs %}
            {% if page.year %}
            {% else %}
              <a class="item" href="{{ page.url }}">
                <div class="ui small header" style="padding: 0.6em"><i class="blue star outline icon"></i>{{ page.title }}</div>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>


      <div class="eight wide column">
        <div class="ui animated selection list">
          {% for page in site.gapgraphs %}
            {% if page.year %}
              <a class="item" href="{{ page.url }}">
                <div class="ui small header" style="padding: 0.6em"><i class="blue chart line icon"></i>{{ page.title }}</div>
              </a>
            {% endif %}

          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>

  <div class="ui inverted vertical segment dark-wood">
    <div class="ui very relaxed stackable page grid">

    <div class="row">
      <div class="eight wide column">

        {% include recent-posts.html %}

      </div>

      <div class="eight wide column">
          
          {% include feature-post.html %}        

        <div class="ui inverted divider"></div>

        <h3 class="ui inverted header">Tags</h3>
          {% include site-tags.html %}
          
        <div class="ui inverted divider"></div>
        
        <h3 class="ui inverted header">Categories</h3>
          {% include site-categories.html %}
          
      </div>
    </div>
  </div>
</div>
