<div class="ui inverted footer vertical segment">
  <div class="ui stackable page grid">
    <div class="ten wide column">
      <div class="ui three column stackable grid">
        <div class="column">
        <div class="column">
          <h5 class="ui inverted header">Gapcoin Core v0.9.2</h5>
          <div class="ui inverted link list">
            <a class="item" href="https://github.com/gapcoin-project/gapcoin/releases/tag/v0.9.2-rev2">Binaries</a>
            <a class="item" href="https://github.com/gapcoin-project/gapcoin.git">Source</a>
          </div>
        </div>
        </div>
        <div class="column">
          <h5 class="ui inverted header">Gapcoin Core v0.16.3</h5>
          <div class="ui inverted link list">
            <a class="item" href="https://github.com/gapcoin-project/gapcoin-core/releases">Binaries</a>
            <a class="item" href="https://github.com/gapcoin-project/gapcoin-core.git">Source</a>
          </div>
        </div>
        <div class="column">
          <h5 class="ui inverted header">GapMiner</h5>
          <div class="ui inverted link list">
            <a class="item" href="https://github.com/gapcoin-project/GapMiner/releases/tag/crt-rev5.1">rev5 CPU/CRT binaries</a>
            <a class="item" href="https://github.com/gapcoin-project/GapMiner/releases/tag/gapminer-rev4">rev4 GPU binaries</a>
            <a class="item" href="https://github.com/gapcoin-project/GapMiner">Source</a>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <div class="ui two column stackable grid">
        <div class="column">
          <h5 class="ui inverted header">Social</h5>
          <div class="ui inverted link list">
            <a class="item" href="https://discord.gg/{{ site.discord_invite }}"><i class="discord icon"></i> Discord</a>
            <a class="item" href="https://bitcointalk.org/index.php?topic={{ site.bitcointalk_topic }}.new#new"><i class="bitcoin icon"></i> Bitcointalk</a>
            <a class="item" href="https://twitter.com/{{ site.twitter_username }}"><i class="twitter icon"></i> Twitter</a>
            <a class="item" href="https://github.com/{{ site.github_username }}"><i class="github icon"></i> GitHub</a>
            <a class="item" href="{{ site.url }}/feed.xml"><i class="rss icon"></i> Feed</a>
          </div>
        </div>
        <div class="column">
          <h5 class="ui inverted header">Contact Points</h5>
          <addr>
            <a href="https://github.com/gapcoin-project">Gapcoin Project</a>
          </addr>
          <addr>
            <a href="https://gapcoin.club">Gapcoin Club</a>
          </addr>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui center aligned segment copyright">
  <i class="world icon"></i> Copyright &copy; {{ site.time | date: "%Y" }}, {{ site.copyright }}.
</div>
