<div class="ui menu">
  <a class="header item" href="/">Gapcoin Project</a>
  <div class="right menu">
    <a class="item menu-details {% if page.title == 'About Gapcoin' %}active{% endif %}" href="/about/" data-position="bottom left" data-content="About Gapcoin"><i class="large blue info circle icon"></i></a>
    <a class="item menu-details {% if page.title == 'Posts' %}active{% endif %}" href="/posts/" data-position="bottom left" data-content="Posts"><i class="large blue comments icon"></i></a>
    <a class="item menu-details {% if page.title == 'Prime gaps' %}active{% endif %}" href="/primegaps/" data-position="bottom left" data-content="Prime gaps"><i class="large blue chart line icon"></i></a>
    <a class="item menu-details {% if page.title == 'Gapcoin blockchain' %}active{% endif %}" href="/chain/" data-position="bottom left" data-content="Gapcoin blockhain"><i class="large blue linkify icon"></i></a>
    <a class="item menu-details {% if page.title == 'Mining Gapcoin' %}active{% endif %}" href="/mining/" data-position="bottom left" data-content="Mining Gapcoin"><i class="icon large blue microchip"></i></a>
    <a class="item menu-details {% if page.title == 'Exchanges' %}active{% endif %}" href="/exchanges-and-markets/" data-position="bottom left" data-content="Exchanges"><i class="large blue money bill alternate icon"></i></a>
    <a class="item menu-details {% if page.title == 'FAQ' %}active{% endif %}" href="/faq" data-position="bottom left" data-content="FAQ"><i class="icon large blue question circle"></i></a>
    <div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Search..." class="menu-search">
        <i class="large blue search link icon"></i>
      </div>
    </div>
    {% if site.pagebar %}
      <a class="mobile item pagebar" href="#"><i class="icon content"></i></a>
      <a class="item pagebar" href="#"><i class="icon content"></i></a>
    {% endif %}
  </div>
</div>
