<div class="ui vertical segment">
  <div class="ui centered page grid">
    <div class="ui centered inline inverted dimmer">
      <div class="ui text loader">Your browser is now constructing the plots, it will take a few moments ...</div>
    </div>
    <div class="row">
      <div class="column">
        <div class="ui small header">Freiexchange current order book, asks where amount &gt; {{page.above}} &amp; price &lt; {{page.ask}} satoshi.</div>
        <div id="content" class="content"></div>
        <div class="ui small header">Whale song, avaiable to buy where price &lt; {{page.ask}} satoshi</div>
        <div id="content1" class="content"></div>
      </div>
    </div> <!-- /row -->
  </div>
</div>
