<div class="ui right vertical sidebar menu">
    <div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Search..." class="menu-search">
        <i class="search link icon"></i>
      </div>
    </div>


    <a class="item" href="/primegaps/">
    <i class="chart line icon"></i>
    Graphs of prime gap data<span class="ui paleblue mini label"> {{ site.graphs | size  }}</span></a>

    <a class="item" href="/posts/">
    <i class="comments icon"></i>
    Posts
    </a>
    <a class="item" href="/tag/">
    <i class="tags icon"></i>
    Tag Browser
    </a>
    <a class="item" href="/category/">
    <i class="bookmark icon"></i>
    Category List
    </a>
    <a class="item" href="/kitchensink/">
    <i class="block layout icon"></i>
    Kitchen Sink
    </a>
</div>
