<div class="ui right vertical sidebar menu">
    <div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Search..." class="menu-search">
        <i class="search link icon"></i>
      </div>
    </div>


    <a class="item" href="/about/">
    <i class="info circle icon"></i>
    About
    </a>

    <a class="item" href="/chain/">
    <i class="linkify icon"></i>
    Blockchain data<span class="ui paleblue mini label"> {{ site.diffgraphs | size  }}</span>
    </a>

    <a class="item" href="/posts/">
    <i class="dolly icon"></i>
    Downloads
    </a>

    <a class="item" href="/exchanges-and-markets/">
    <i class="money bill alternate icon"></i>
    Exchanges &amp; mkts
    </a>

    <a class="item" href="/faq/">
    <i class="question circle icon"></i>
    FAQ
    </a>

    <a class="item" href="/primegaps/">
    <i class="chart line icon"></i>
    Prime gap data<span class="ui paleblue mini label"> {{ site.gapgraphs | size  }}</span>
    </a>

    <a class="item" href="/mining/">
    <i class="microchip icon"></i>
    Mining info
    </a>

    <a class="item" href="/posts/">
    <i class="comments icon"></i><span class="ui paleblue mini label"> {{ site.posts | size  }}</span>
    News and posts
    </a>

    <div class="ui inverted divider"></div>

    <a class="item" href="/tag/">
    <i class="tags icon"></i><span class="ui paleblue mini label"> {{ site.tags | size  }}</span>
    Tag Browser
    </a>

    <a class="item" href="/category/">
    <i class="bookmark icon"></i><span class="ui paleblue mini label"> {{ site.categories | size  }}</span>
    Category List
    </a>

    <div class="ui inverted divider"></div>

    <a class="item" href="/kitchensink/">
    <i class="block layout icon"></i>
    (Kitchen Sink)
    </a>
</div>

